/*
 *  ----------
 *  SCALE
 *  ----------
*/
@keyframes grow-in-x {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

@keyframes grow-in-y {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}

%grow-in-x {
  animation-name: grow-in-x;
  animation-fill-mode: forwards;
}

%grow-in-y {
  animation-name: grow-in-y;
  animation-fill-mode: forwards;
}

/// @require $theme-animation-durations
/// @see './_variables.scss'
@each $duration, $value in $theme-animation-durations {
  .grow-in-x--#{$duration} {
    @extend %grow-in-x;
    animation-duration: $value;
  }

  .grow-in-y--#{$duration} {
    @extend %grow-in-y;
    animation-duration: $value;
  }
}

@keyframes grow-out-x {
  from { transform: scaleX(1); }
  to { transform: scaleX(0); }
}

@keyframes grow-out-y {
  from { transform: scaleY(1); }
  to { transform: scaleY(0); }
}

%grow-out-x {
  animation-name: grow-out-x;
  animation-fill-mode: forwards;
}

%grow-out-y {
  animation-name: grow-out-y;
  animation-fill-mode: forwards;
}

/// @require $theme-animation-durations
/// @see './_variables.scss'
@each $duration, $value in $theme-animation-durations {
  .grow-out-x--#{$duration} {
    @extend %grow-out-x;
    animation-duration: $value;
  }
  .grow-out-y--#{$duration} {
    @extend %grow-out-y;
    animation-duration: $value;
  }
}

/*
 *  ----------
 *  FADES
 *  ----------
*/

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

%fade-in {
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

%fade-out {
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

/// @require $theme-animation-durations
/// @see './_variables.scss'
@each $duration, $value in $theme-animation-durations {
  .fade-in--#{$duration} {
    @extend %fade-in;
    animation-duration: $value;
  }

  .fade-out--#{$duration} {
    @extend %fade-out;
    animation-duration: $value;
  }
}

/*
 *  ----------
 *  SLIDES
 *  ----------
*/

@keyframes slide-from-left {
  from { transform: translateX(-$animation-distance); }
  to { transform: translateX(0); }
}

@keyframes slide-from-right {
  from { transform: translateX($animation-distance); }
  to { transform: translateX(0); }
}

@keyframes slide-from-top {
  from { transform: translateY(-$animation-distance); }
  to { transform: translateY(0); }
}

@keyframes slide-from-bottom {
  from { transform: translateY($animation-distance); }
  to { transform: translateY(0); }
}

%slide-from-left {
  animation-name: slide-from-left;
  animation-fill-mode: forwards;
}

%slide-from-right {
  animation-name: slide-from-right;
  animation-fill-mode: forwards;
}

%slide-from-top {
  animation-name: slide-from-top;
  animation-fill-mode: forwards;
}

%slide-from-bottom {
  animation-name: slide-from-bottom;
  animation-fill-mode: forwards;
}

/// @require $theme-animation-durations
/// @see './_variables.scss'
@each $duration, $value in $theme-animation-durations {
  .slide-from-left--#{$duration} {
    @extend %slide-from-left;
    animation-duration: $value;
  }

  .slide-from-right--#{$duration} {
    @extend %slide-from-right;
    animation-duration: $value;
  }

  .slide-from-top--#{$duration} {
    @extend %slide-from-top;
    animation-duration: $value;
  }

  .slide-from-bottom--#{$duration} {
    @extend %slide-from-bottom;
    animation-duration: $value;
  }
}

@keyframes slide-to-left {
  from { transform: translateX(0); }
  to { transform: translateX(-$animation-distance); }
}

@keyframes slide-to-right {
  from { transform: translateX(0); }
  to { transform: translateX($animation-distance); }
}

@keyframes slide-to-top {
  from { transform: translateY(0); }
  to { transform: translateY(-$animation-distance); }
}

@keyframes slide-to-bottom {
  from { transform: translateY(0); }
  to { transform: translateY($animation-distance); }
}

%slide-to-left {
  animation-name: slide-to-left;
  animation-fill-mode: forwards;
}

%slide-to-right {
  animation-name: slide-to-right;
  animation-fill-mode: forwards;
}

%slide-to-top {
  animation-name: slide-to-top;
  animation-fill-mode: forwards;
}

%slide-to-bottom {
  animation-name: slide-to-bottom;
  animation-fill-mode: forwards;
}

/// @require $theme-animation-durations
/// @see './_variables.scss
@each $duration, $value in $theme-animation-durations {
  .slide-to-left--#{$duration} {
    @extend %slide-to-left;
    animation-duration: $value;
  }

  .slide-to-right--#{$duration} {
    @extend %slide-to-right;
    animation-duration: $value;
  }

  .slide-to-top--#{$duration} {
    @extend %slide-to-top;
    animation-duration: $value;
  }

  .slide-to-bottom--#{$duration} {
    @extend %slide-to-bottom;
    animation-duration: $value;
  }
}

/*
 *  ----------
 *  SLIDE & FADE
 *  ----------
*/

// -----
// SLIDE FROM - FADE IN
@keyframes slide-from-left__fade-in {
  from { opacity: 0; transform: translateX(-$animation-distance); }
  to { opacity: 1; transform: translateX(0); }
}
%slide-from-left__fade-in {
  animation-name: slide-from-left__fade-in;
  animation-fill-mode: forwards;
}

@keyframes slide-from-right__fade-in {
  from { opacity: 0; transform: translateX($animation-distance); }
  to { opacity: 1; transform: translateX(0); }
}
%slide-from-right__fade-in {
  animation-name: slide-from-right__fade-in;
  animation-fill-mode: forwards;
}

@keyframes slide-from-top__fade-in {
  from { opacity: 0; transform: translateY(-$animation-distance); }
  to { opacity: 1; transform: translateY(0); }
}
%slide-from-top__fade-in {
  animation-name: slide-from-top__fade-in;
  animation-fill-mode: forwards;
}

@keyframes slide-from-bottom__fade-in {
  from { opacity: 0; transform: translateY($animation-distance); }
  to { opacity: 1; transform: translateY(0); }
}
%slide-from-bottom__fade-in {
  animation-name: slide-from-bottom__fade-in;
  animation-fill-mode: forwards;
}

// -----
// SLIDE FROM - FADE OUT
@keyframes slide-from-left__fade-out {
  from { opacity: 1; transform: translateX(-$animation-distance); }
  to { opacity: 0; transform: translateX(0); }
}
%slide-from-left__fade-out {
  animation-name: slide-from-left__fade-out;
  animation-fill-mode: forwards;
}

@keyframes slide-from-right__fade-out {
  from { opacity: 1; transform: translateX($animation-distance); }
  to { opacity: 0; transform: translateX(0); }
}
%slide-from-right__fade-out {
  animation-name: slide-from-right__fade-out;
  animation-fill-mode: forwards;
}

@keyframes slide-from-top__fade-out {
  from { opacity: 1; transform: translateY(-$animation-distance); }
  to { opacity: 0; transform: translateY(0); }
}
%slide-from-top__fade-out {
  animation-name: slide-from-top__fade-out;
  animation-fill-mode: forwards;
}

@keyframes slide-from-bottom__fade-out {
  from { opacity: 1; transform: translateY($animation-distance); }
  to { opacity: 0; transform: translateY(0); }
}
%slide-from-bottom__fade-out {
  animation-name: slide-from-bottom__fade-out;
  animation-fill-mode: forwards;
}

// -----
// SLIDE TO - FADE IN
@keyframes slide-to-left__fade-in {
  from { opacity: 0; transform: translateX(0); }
  to { opacity: 1; transform: translateX(-$animation-distance); }
}
%slide-to-left__fade-in {
  animation-name: slide-to-left__fade-in;
  animation-fill-mode: forwards;
}

@keyframes slide-to-right__fade-in {
  from { opacity: 0; transform: translateX(0); }
  to { opacity: 1; transform: translateX($animation-distance); }
}
%slide-to-right__fade-in {
  animation-name: slide-to-right__fade-in;
  animation-fill-mode: forwards;
}

@keyframes slide-to-top__fade-in {
  from { opacity: 0; transform: translateY(0); }
  to { opacity: 1; transform: translateY(-$animation-distance); }
}
%slide-to-top__fade-in {
  animation-name: slide-to-top__fade-in;
  animation-fill-mode: forwards;
}

@keyframes slide-to-bottom__fade-in {
  from { opacity: 0; transform: translateY(0); }
  to { opacity: 1; transform: translateY($animation-distance); }
}
%slide-to-bottom__fade-in {
  animation-name: slide-to-bottom__fade-in;
  animation-fill-mode: forwards;
}

// -----
// SLIDE TO - FADE OUT
@keyframes slide-to-left__fade-out {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-$animation-distance); }
}
%slide-to-left__fade-out {
  animation-name: slide-to-left__fade-out;
  animation-fill-mode: forwards;
}

@keyframes slide-to-right__fade-out {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX($animation-distance); }
}
%slide-to-right__fade-out {
  animation-name: slide-to-right__fade-out;
  animation-fill-mode: forwards;
}

@keyframes slide-to-top__fade-out {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-$animation-distance); }
}
%slide-to-top__fade-out {
  animation-name: slide-to-top__fade-out;
  animation-fill-mode: forwards;
}

@keyframes slide-to-bottom__fade-out {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY($animation-distance); }
}
%slide-to-bottom__fade-out {
  animation-name: slide-to-bottom__fade-out;
  animation-fill-mode: forwards;
}

/// @require $theme-animation-durations
/// @see './_variables.scss'
@each $duration, $value in $theme-animation-durations {
  .slide-from-left__fade-in--#{$duration} {
    @extend %slide-from-left__fade-in;
    animation-duration: $value;
  }

  .slide-from-right__fade-in--#{$duration} {
    @extend %slide-from-right__fade-in;
    animation-duration: $value;
  }

  .slide-from-top__fade-in--#{$duration} {
    @extend %slide-from-top__fade-in;
    animation-duration: $value;
  }

  .slide-from-bottom__fade-in--#{$duration} {
    @extend %slide-from-bottom__fade-in;
    animation-duration: $value;
  }

  .slide-to-left__fade-in--#{$duration} {
    @extend %slide-to-left__fade-in;
    animation-duration: $value;
  }

  .slide-to-right__fade-in--#{$duration} {
    @extend %slide-to-right__fade-in;
    animation-duration: $value;
  }

  .slide-to-top__fade-in--#{$duration} {
    @extend %slide-to-top__fade-in;
    animation-duration: $value;
  }

  .slide-to-bottom__fade-in--#{$duration} {
    @extend %slide-to-bottom__fade-in;
    animation-duration: $value;
  }

  .slide-from-left__fade-out--#{$duration} {
    @extend %slide-from-left__fade-out;
    animation-duration: $value;
  }

  .slide-from-right__fade-out--#{$duration} {
    @extend %slide-from-right__fade-out;
    animation-duration: $value;
  }

  .slide-from-top__fade-out--#{$duration} {
    @extend %slide-from-top__fade-out;
    animation-duration: $value;
  }

  .slide-from-bottom__fade-out--#{$duration} {
    @extend %slide-from-bottom__fade-out;
    animation-duration: $value;
  }

  .slide-to-left__fade-out--#{$duration} {
    @extend %slide-to-left__fade-out;
    animation-duration: $value;
  }

  .slide-to-right__fade-out--#{$duration} {
    @extend %slide-to-right__fade-out;
    animation-duration: $value;
  }

  .slide-to-top__fade-out--#{$duration} {
    @extend %slide-to-top__fade-out;
    animation-duration: $value;
  }

  .slide-to-bottom__fade-out--#{$duration} {
    @extend %slide-to-bottom__fade-out;
    animation-duration: $value;
  }
}