/// use map $font-sizes-headings to generate classes that can 
/// force font size changes on any element
/// @require $font-size-headings
///
@each $tag, $size in $font-sizes-headings {
  .text--#{$tag} {
    font-size: $size;
  }
}

/// @type Map
///
$font-sizes-display: (
  "site-title": $font-size-base * 3,
  "page-title": $font-size-base * 2.4
) !default;

/// use map $font-sizes-display to generate classes that can 
/// force font size changes on any element
/// @require $font-sizes-display
///
@each $name, $size in $font-sizes-display {
  .text--#{$name} {
    font-size: $size;
  }
}

/// @see './variables.scss'
/// @require $theme-font-sizes
/// $theme-font-sizes includes: 
/// ["base", "lead", "small"]
@each $size, $value in $theme-font-sizes {
  .text--#{$size} {
    font-size: $value;
  }
}

/// @see './variables.scss
/// @require $theme-font-families
/// $theme-font-families includes:
/// ["sans-serif", "serif", "cursive"]
@each $family, $name in $theme-font-families {
  .font-family--#{$family} {
    font-family: $name;
  }
}

/// @see './variables.scss'
/// @require $theme-font-weights
/// $theme-font-weights includes:
/// ["light", "normal", "heavy"]
@each $weight, $value in $theme-font-weights {
  .font-weight--#{$weight} {
    font-weight: $value;
  }
}

/// @see './variables.scss'
/// @require $theme-colors
/// $theme-colors includes:
/// ["main", "complementary", "secondary", "dark", "light"]
@each $color, $hex in $theme-colors {
  .title__padded-text--#{$color} {
    @include padded-text($hex, .6, 1, 1.5);
  }

  .body__padded-text--#{$color} {
    @include padded-text($hex, .4, .8, 1.6);
  }
}